<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <appSettings>
        <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    </appSettings>
  
   <connectionStrings>
      <add name="conString"
           connectionString="Data Source=Kristijan-PC\SQLEXPRESS ; Initial Catalog = Recipes ; Integrated Security = True;"
           providerName="System.Data.SqlClient"/>
    </connectionStrings>
    
    <system.web>
      
      <compilation debug="true" targetFramework="4.5.1" />
      <httpRuntime targetFramework="4.5.1" />
    
       <membership>
        <providers>
          <clear/>
          <!-- Ova se kriteriumi za nov korisnik koa kje se logira -->
          <!-- hashed: lozinkite neli se one way i ne mozhe da se povratat nazad -->
          <add name="AspNetSqlMembershipProvider"
               type="System.Web.Security.SqlMembershipProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
               connectionStringName="conString"
               enablePasswordRetrieval="false"
               enablePasswordReset="true"
               requiresQuestionAndAnswer="false"
               applicationName="/"
               requiresUniqueEmail="true"
               passwordFormat="Hashed"
               maxInvalidPasswordAttempts="5"
               minRequiredPasswordLength="5"
               minRequiredNonalphanumericCharacters="0"
               passwordAttemptWindow="10"
               passwordStrengthRegularExpression=""/>

          <!--<add name="MySQLMembershipProvider" type="MySql.Web.Security.MySQLMembershipProvider, MySql.Web, Version=6.9.5.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" connectionStringName="LocalMySqlServer" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" applicationName="/" requiresUniqueEmail="false" passwordFormat="Clear" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" passwordStrengthRegularExpression=""/>-->
        </providers>
      </membership>


      
      
  
      <roleManager enabled="true">
        <providers>
          <clear/>
          <add connectionStringName="conString"
               applicationName="/"
               name="AspNetSqlRoleProvider"
               type="System.Web.Security.SqlRoleProvider"/>              
        </providers>
      </roleManager>

      
      <authentication mode="Forms">
        <forms loginUrl="Homepage.aspx" defaultUrl="Homepage.aspx" cookieless ="UseCookies" protection="None"></forms>
      </authentication>
      
      
     
  
    </system.web>
  
    
  <location path="Login.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
    <location path="Register.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
    
  

  
        
  
   

</configuration>
